@page "/"
@inherits IndexBase

<div style="@(!ApplicationState.ShowLogPage ? "display:block" : "display:none")">
    <InputComponent></InputComponent>

    @if (ApplicationState.ShowReport)
    {
        <OutputComponent></OutputComponent>
    }
</div>

@if (ApplicationState.ShowLogPage)
{
    <ProjectLogComponent></ProjectLogComponent>
}



