@inherits ProjectErrorDisplayComponentBase

<div class="errors-container">
    <div class="project-header">
        <span>@ProjectName</span>
        <span class="platform-configuration">@Configuration&nbsp;</span>
    </div>
    <div class="errors-list">
        <ul class="list-group list-group-flush">

            @foreach (var data in FailedData)
            {
                <li class="list-group-item">
                    <div style="vertical-align: middle;">
                        <span class="link-line-number" @onclick="(() => NavigateToProjectErrors((data.Item1)))"><span class="badge badge-info project-error-badge-size">@LineNumberToErrorNumber[data.Item1]</span></span>
                        <span>@data.Item5</span>
                        <span class="link-line-number text-info" @onclick="(() => NavigateToProjectErrors((data.Item1)))"><i class="fas fa-expand-alt"></i></span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
